@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: "portfolio";
	default: true;
	prefersdark: true;
	color-scheme: dark;

	--color-primary: #191919;
	--color-secondary: #232323;
	--color-accent: #0995f1;
	--color-neutral: #696e79;
	--color-base-100: #ffffff;
	--color-base-300: #d1d1d1;
}

@config "../tailwind.config.js";

html {
	scroll-behavior: smooth;
	background-color: #191919 !important;
}

body {
	font-family: "Basier Circle", sans-serif;
	@apply font-extrabold;
}

h1,
h2,
h3,
h4,
h5,
li {
	@apply text-gray-100;
}

h1 {
	@apply text-5xl md:text-8xl;
}

h2 {
	@apply text-3xl md:text-5xl;
}

h3 {
	@apply text-3xl;
}

h4 {
	@apply text-2xl;
}

h5 {
	@apply text-lg;
}

a {
	@apply text-sm md:text-base;
}

svg {
	display: inline;
}

.btn {
	@apply text-lg text-gray-100;
}

.btn-ghost {
	@apply border-transparent bg-transparent shadow-none hover:bg-black/15;
}

.navbar {
	transition: all 0.5s ease;
	padding: 0;
}
